<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>HelveticaNeueLTProCn.otf</string>
		<string>HelveticaNeueLTProBdCn.otf</string>
		<string>HelveticaNeueLTProBdCnO.otf</string>
		<string>HelveticaNeueLTProBdEx.otf</string>
		<string>HelveticaNeueLTProBdExO.otf</string>
		<string>HelveticaNeueLTProBdIt.otf</string>
		<string>HelveticaNeueLTProBdOu.otf</string>
		<string>HelveticaNeueLTProBlk.otf</string>
		<string>HelveticaNeueLTProBlkCn.otf</string>
		<string>HelveticaNeueLTProBlkCnO.otf</string>
		<string>HelveticaNeueLTProBlkEx.otf</string>
		<string>HelveticaNeueLTProBlkExO.otf</string>
		<string>HelveticaNeueLTProBlkIt.otf</string>
		<string>HelveticaNeueLTProCn.otf</string>
		<string>HelveticaNeueLTProCnO.otf</string>
		<string>HelveticaNeueLTProEx.otf</string>
		<string>HelveticaNeueLTProExO.otf</string>
		<string>HelveticaNeueLTProHv.otf</string>
		<string>HelveticaNeueLTProHvCn.otf</string>
		<string>HelveticaNeueLTProHvCnO.otf</string>
		<string>HelveticaNeueLTProHvEx.otf</string>
		<string>HelveticaNeueLTProHvExO.otf</string>
		<string>HelveticaNeueLTProHvIt.otf</string>
		<string>HelveticaNeueLTProIt.otf</string>
		<string>HelveticaNeueLTProLt.otf</string>
		<string>HelveticaNeueLTProLtCn.otf</string>
		<string>HelveticaNeueLTProLtCnO.otf</string>
		<string>HelveticaNeueLTProLtEx.otf</string>
		<string>HelveticaNeueLTProLtExO.otf</string>
		<string>HelveticaNeueLTProLtIt.otf</string>
		<string>HelveticaNeueLTProMd.otf</string>
		<string>HelveticaNeueLTProMdCn.otf</string>
		<string>HelveticaNeueLTProMdCnO.otf</string>
		<string>HelveticaNeueLTProMdEx.otf</string>
		<string>HelveticaNeueLTProMdExO.otf</string>
		<string>HelveticaNeueLTProMdIt.otf</string>
		<string>HelveticaNeueLTProRoman.otf</string>
		<string>HelveticaNeueLTProTh.otf</string>
		<string>HelveticaNeueLTProThCn.otf</string>
		<string>HelveticaNeueLTProThCnO.otf</string>
		<string>HelveticaNeueLTProThEx.otf</string>
		<string>HelveticaNeueLTProThExO.otf</string>
		<string>HelveticaNeueLTProThIt.otf</string>
		<string>HelveticaNeueLTProUltLt.otf</string>
		<string>HelveticaNeueLTProUltLtCn.otf</string>
		<string>HelveticaNeueLTProUltLtCnO.otf</string>
		<string>HelveticaNeueLTProUltLtEx.otf</string>
		<string>HelveticaNeueLTProUltLtExO.otf</string>
		<string>HelveticaNeueLTProUltLtIt.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>divesync</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>divesync</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
