<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPECTER</key>
	<array>
		<string>ProAsia</string>
		<string>DAVINCI</string>
		<string>8369</string>
	</array>
	<key>VIR</key>
	<array>
		<string>ProAsia</string>
		<string>DAVINCI</string>
		<string>8682</string>
	</array>
	<key>DAV</key>
	<array>
		<string>ProAsia</string>
		<string>DAVINCI</string>
		<string>6886</string>
	</array>
	<key>DAVINCI</key>
	<array>
		<string>ProAsia</string>
		<string>DAVINCI</string>
		<string>6886</string>
	</array>
	<key>SKI</key>
	<array>
		<string>ProAsia</string>
		<string>SKIFF</string>
		<string>8375</string>
	</array>
	<key>SPI</key>
	<array>
		<string>ProAsia</string>
		<string>SPIRIT</string>
		<string>8380</string>
	</array>
	<key>LOG</key>
	<array>
		<string>Sherwood</string>
		<string>LOGIC</string>
		<string>7679</string>
	</array>
	<key>CEN</key>
	<array>
		<string>Genesis</string>
		<string>CENTAURI</string>
		<string>6769</string>
	</array>
	<key>GRA</key>
	<array>
		<string>Genesis</string>
		<string>GRAVITON</string>
		<string>7182</string>
	</array>
	<key>SHERWOOD-Logic+</key>
	<array>
		<string>Sherwood</string>
		<string>LOGIC+</string>
		<string>7679</string>
	</array>
	<key>CENTAURI</key>
	<array>
		<string>Genesis</string>
		<string>CENTAURI</string>
		<string>6769</string>
	</array>
</dict>
</plist>
